.Saved{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

@media(max-width:1020px){
    .Saved{
        object-fit: contain;
        justify-content: center;
    } 
}